<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SVM International School</title>
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
</head>
<body>
  <footer class="bg-gray-900 text-gray-300 py-10 mt-10">
  <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 lg:grid-cols-3 gap-10">

    <div>
      <!-- <h2 class="text-2xl font-bold text-white mb-3">School Name</h2> -->
       <img src="assets/images/logo-svm.png" alt="School Logo" class="h-18 w-48 inline-block mr-2"/>
        <!-- <h1>SVM INTERNATIONAL SCHOOL</h1> -->
      <p class="mt-2">
        Providing quality education and building the future of students with
        dedication & discipline.
      </p>
    </div>

    <div>
      <h3 class="text-2xl font-semibold text-white mb-3">
        <span class="underline decoration-amber-500 decoration-3 underline-offset-6">Quick</span>
        <span class="text-amber-500"> Links</span>
      </h3>
      <ul class="">
        <li><a href="index.html" class="hover:text-white">Home</a></li>
        <li><a href="about.html" class="hover:text-white">About</a></li>
        <li><a href="admission.html" class="hover:text-white">Admission</a></li>
        <li><a href="mandatory-disclosure.html" class="hover:text-white">Mandatory Disclosure</a></li>
        <li><a href="contact.html" class="hover:text-white">Contact</a></li>
      </ul>
    </div>

    <div>
  <h3 class="text-2xl font-semibold text-white mb-3">Contact Us</h3>
  <ul class="space-y-3 text-white">

    <li class="flex items-center gap-3">
      <i class="fa-solid fa-location-dot text-white"></i>
      <span>Kailashchandrapur, Budhikhamri, Mayurbhanj, Odisha - 757001</span>
    </li>

    <li class="flex items-center gap-3">
      <i class="fa-solid fa-phone text-white"></i>
      <span>+91 0000000000</span>
    </li>

    <li class="flex items-center gap-3">
      <i class="fa-solid fa-envelope text-white"></i>
      <span>school@example.com</span>
    </li>

  </ul>
</div>


    <!-- <div>
      <h3 class="text-2xl font-semibold text-white mb-3 underline decoration-amber-500 underline-offset-8">
        Location
      </h3>
      <iframe
        class="w-full h-40 rounded-md border-2 border-gray-700"
        src="https://www.google.com/maps/embed?pb=!1m18..."
        loading="lazy">
      </iframe>
    </div> -->

  </div>

  <div class="text-center border-t border-gray-700 mt-10 pt-4 text-sm">
    © 2026 SVM International School. All Rights Reserved.
  </div>
</footer>

</body>
</html>